.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
}

body {
  font: 16px "Roboto", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.app {
  #max-width: 100rem;
  width: 100%;
  padding: 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.app > header,
.app > main,
.app > footer {
  width: 100%;
  text-align: center;
  transition: 200ms;
}
.app > header {
  display: block;
  background: lightblue;
  text-transform: uppercase;
  padding: 1rem 2rem;
}
.app > main {
  #flex: 1 1 auto;
  #background: #333;
  width: 100rem;
}
.app > footer {
  background: lightblue;
  height: 150px;
}

.form {
  position: relative;
  padding: 2em 1em 1em;
  border: 1px solid #d8d8d8;
  margin: 1.5rem 0 0;
}

.form > .form-row .form-label {
  padding-right: 5px;
  padding-left: 10px;
  text-transform: uppercase;
}

.confirm-text {
  display: block !important;
  text-align: center !important;
  padding: 15px !important;
  color: #7f7d7d !important;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
  align-items: center;
}

.rwt__tabpanel  {
  width: 100%;
}

.navbar-brand {
  font-family: "Lucida Console", Monaco, monospace;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-left: 15px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container > input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container > input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
