.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
}

body {
  font: 16px "Roboto", Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #f6f6f6;
}

.app {
  max-width: 100rem;
  width: 100%;
  background: lightgray;
  padding: 0;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
.app > header,
.app > main,
.app > footer {
  width: 100%;
  text-align: center;
  transition: 200ms;
}
.app > header {
  display: block;
  color: white;
  background: gray;
  text-transform: uppercase;
}
.app > main {
  flex: 1 1 auto;
  color: white;
  background: #333;
}
.app > footer {
  background: white;
}